<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--团队合作通过import实现  <import resource="{path}/{name}.xml"/>-->
    <!--
        依赖注入是指:Bean对象的创建依赖于容器,Bean对象的依赖资源由容器来设置和分配
        Bean的作用域:
            1.Singleton: 在Spring IOC容器中仅存在一个Bean实例,Bean以单例方式存在,默认值
            2.prototype: 每次从容器中调用Bean时,都返回一个新的实例,即每次调用getBean()时,相当于执行new XxxBean()
            3.request: 每次HTTP请求都会创建一个新的Bean,该作用域仅适用于WebApplication环境
            4.同一个HTTP Session共享一个Bean,不同Session使用不同Bean,仅适用于WebApplicationContext环境
    -->
    <import resource="abean.xml"/>

    <!--P(属性: properties)命名空间 , 属性依然要设置set方法-->
<!--    <bean id="user2" class="cn.zhangbin.pojo.User" p:name="张斌" p:age="22"/>-->
    <!--C(构造: Constructor)命名空间 , 属性依然要设置set方法 c为有参构造-->
    <bean id="user2" class="cn.zhangbin.pojo.User" c:name="张斌" c:age="22"/>


    <!--bean就是java对象 , 由Spring创建和管理-->
    <!--
      id 是bean的标识符,要唯一,如果没有配置id,name就是默认标识符
      如果配置id,又配置了name,那么name是别名
      name可以设置多个别名,可以用逗号,分号,空格隔开
      如果不配置id和name,可以根据applicationContext.getBean(.class)获取对象;
      class是bean的全限定名=包名+类名
    -->
    <bean id="hello" name="hello2 h2,h3;h4" class="cn.zhangbin.pojo.Hello">
        <property name="name" value="Spring"/>
    </bean>


    <bean id="daoImpl" class="cn.zhangbin.dao.impl.UserDaoImpl"/>
    <!--设置定义单例类型-->
    <bean id="serviceImpl" class="cn.zhangbin.service.impl.UserServiceImpl" scope="singleton">
        <!--注意: 这里的name并不是属性 , 而是set方法后面的那部分 , 首字母小写-->
        <!--引用另外一个bean , 不是用value 而是用 ref-->
        <property name="userDao" ref="mysqlImpl"/>
    </bean>

    <!--bean定义为prototype scope="prototype" 或者 singleton=false-->
    <bean id="user" class="cn.zhangbin.pojo.User" scope="prototype">
        <property name="name" value="张斌"/>
    </bean>

    <!-- 有参构造一般有三种方式-->
    <!-- 第一种根据index参数下标设置,下标默认0开始-->
<!--    <bean id="userT" class="cn.zhangbin.pojo.UserT">-->
<!--        <constructor-arg index="0" value="张斌"/>-->
<!--    </bean>-->
    <!-- 第一种根据参数名称设置 -->
    <bean id="userT" class="cn.zhangbin.pojo.UserT">
        <constructor-arg name="name" value="张斌_1"/>
    </bean>
    <alias name="userT" alias="t"/>
    <!-- 第一种根据参数类型设置 -->
<!--    <bean id="userT" class="cn.zhangbin.pojo.UserT">-->
<!--        <constructor-arg type="java.util.String" value="张斌"/>-->
<!--    </bean>-->

    <bean id="addr" class="cn.zhangbin.pojo.Address">
        <property name="address" value="北京"/>
    </bean>

    <bean id="student" class="cn.zhangbin.pojo.Student">
        <property name="name" value="小明"/>
        <property name="address" ref="addr"/>
        <!--注入数组-->
        <property name="books">
            <array>
                <value>三国志</value>
                <value>西游记</value>
                <value>红楼梦</value>
                <value>水浒传</value>
            </array>
        </property>
        <!--注入列表-->
        <property name="hobbys">
            <list>
                <value>听歌</value>
                <value>喝酒</value>
                <value>游戏</value>
            </list>
        </property>
        <!--Map注入-->
        <property name="card">
            <map>
                <entry key="中国邮政" value="456456456465456"/>
                <entry key="建设" value="1456682255511"/>
            </map>
        </property>
        <!--Set注入-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>王者</value>
                <value>CF</value>
            </set>
        </property>
        <!--NULL注入-->
        <property name="wife"><null/></property>
        <!--Properties注入-->
        <property name="info">
            <props>
                <prop key="学号">2018142247567</prop>
                <prop key="性别">男</prop>
                <prop key="姓名">小明</prop>
            </props>
        </property>
    </bean>

</beans>