<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>
    <properties resource="db.properties"/>

    <settings>
        <!--开启全局缓存-->
        <setting name="cacheEnabled" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

<!--    引入别名-->
    <typeAliases>
        <package name="com.zhangbin.pojo"/>
    </typeAliases>

<!--    environments : 多个环境 更换id即可 default 默认环境-->
    <environments default="development">
        <environment id="development">
            <!-- 事务管理-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
<!--    每一个mapper.xml需要在mybatis的核心配置文件中注册-->
    <mappers>
        <mapper resource="com/zhangbin/dao/UserMapper.xml"/>
        <mapper resource="com/zhangbin/dao/StudentMapper.xml"/>
        <mapper resource="com/zhangbin/dao/TeacherMapper.xml"/>
        <mapper resource="com/zhangbin/dao/BlogMapper.xml"/>
<!--        <mapper class="com.zhangbin.dao.UserMapper"/>-->
    </mappers>
</configuration>